#viz ::selection {
  background: none;
}
.shape{
  fill:white;
  stroke:black;
  stroke-width:2px;
}

.labelText{
  font-family:sans-serif;
  font-size:18px;
  text-anchor:middle;
  fill:black;
}

.innerText{
  font-family:sans-serif;
  font-size:18px;
  text-anchor:middle;
  fill:black;
}

#txt-input{
  font-family:sans-serif;
  color:grey;
}

.shape .learning{
  fill:grey;
  fill-opacity:0.2;
  stroke:tomato;
  stroke-width:2px;
  cursor: pointer;
}

.shape .learning.selected{
  stroke-dasharray: 10 5;
}

.shape .placeHolder{
  fill:grey;
  fill-opacity:0.2;
  stroke:black;
  stroke-width:2px;
  stroke-dasharray: 5 5;
  cursor: pointer;
}

.table > tbody > tr.codeHighlight > td {
  background-color: gold;
}