#viz ::selection {
  background: none;
}

#txt-input{
  font-family:sans-serif;
  color:grey;
}

.labelText{
  font-family:sans-serif;
  font-size:18px;
  text-anchor:middle;
  fill:black;
}

.innerText{
  font-family:sans-serif;
  font-size:18px;
  text-anchor:middle;
  fill:black;
}

.innerText .traversed{
  fill:ivory;
}

.innerText .learning.delete{
  fill:ivory;
  font-size: 10px;
  font-weight: bold;
}

.shape{
  fill:white;
  stroke:black;
  stroke-width:2px;
}

.shape .traversed{
  stroke:#16a085;
  stroke-width:4px;
}

.shape .learning.value{
  fill:grey;
  fill-opacity:0.2;
  stroke:#16a085;
  stroke-width:2px;
  cursor: pointer;
}

.shape .learning.edge{
  fill:grey;
  fill-opacity:0.2;
  stroke:#9b59b6;
  stroke-width:2px;
  cursor: pointer;
}

.shape .learning.delete{
  fill:tomato;
  fill-opacity:1;
  stroke:tomato;
  stroke-width:2px;
  cursor: pointer;
}

.shape .learning.selected{
  stroke-dasharray: 10 5;
}

.shape .placeHolder{
  fill:grey;
  fill-opacity:0.2;
  stroke:black;
  stroke-width:2px;
  stroke-dasharray: 5 5;
  cursor: pointer;
}

.edge .traversed{
  stroke:#16a085;
  stroke-width:4px;
}

.table > tbody > tr.codeHighlight > td {
  background-color: #bdc3c7;
}